<form [formGroup]="signInForm" (submit)="signInSubmit($event)">
  <div class="alert alert-danger" role="alert" *ngIf="errorCode == 1;">Make sure the username and password is correct.
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="errorCode == 2;">It looks like there was some error with the
    server.
  </div>
  <div class="form-group">
    <label class="control-label" for="username">Username:</label>
    <div>
      <input type="text" class="form-control" formControlName="username" id="username" placeholder="Enter username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="password">Password:</label>
    <div class="">
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group" style="text-align:center">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signInForm.valid"><span
      class="glyphicon glyphicon-refresh glyphicon-refresh-animate" *ngIf="loading"></span> Submit
    </button>
  </div>
</form>

