
textarea {
  background-color: #2C3E50 !important;
  color: #ECF0F1 !important;
  font-weight: bolder !important
}

*::-webkit-input-placeholder {
  color: #ECF0F1 !important;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #ECF0F1 !important;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #ECF0F1 !important;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #ECF0F1 !important;
}
