<sc-header></sc-header>
<div class="container" style="width:90%;text-align:center">
  <div class="row" style="text-align:center">
    <h6>Chat with:</h6>
    <h4>{{selectedUser?.fullName}}</h4>
    <h5>{{selectedUser?.email}}</h5>
    <select class="form-control" style="width:20%" (change)="fetchChatsFor($event.target.value)">
      <option *ngFor="let user of userList" [value]="user.username"
              [selected]="user.username == selectedUser?.username">{{user.username}}
      </option>
    </select>
  </div>
  <div class="row">
    <div *ngIf="selectedUser" style="width:50%;margin-top:1.6em;margin-left:auto;margin-right:auto;min-width:450px">
      <sc-display-chats [toUser]="selectedUser"></sc-display-chats>
    </div>
  </div>
</div>
