dt, dd {
  text-align: left;
}

li.active a {
  color: #E74C3C;
  font-weight: bolder;
}

li a {
  font-weight: bolder;
}

li a:hover {
  cursor: pointer;
}

.glyphicon {
  font-size: 20em;
  color: #E74C3C;
  margin-bottom: 15px;
}

.find-people-container {
  text-align: center;
}
